.project-item {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.project-item h3 {
  font-size: 1.5em;
}

.project-item a {
  color: #007bff;
  text-decoration: none;
}

.project-item a:hover {
  text-decoration: underline;
}
